{{template "base" .}}

{{define "content"}}
<div class="container mt-2">
    <div class="row">
     <div class="col">
         <h2>About page</h2>
         <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Adipisci ad similique cum asperiores, amet omnis facilis! Omnis dolore modi recusandae eos porro, asperiores unde adipisci fugiat.</p>
         <p>Lorem ipsum dolor sit amet.</p>

         <p>{{index .StringMap "test"}}</p>

         <p>
            {{if ne (index .StringMap "remote_ip") ""}}
                Your remote IP address is {{index .StringMap "remote_ip"}}
            {{else}}
                I don't know your ip address yet. Visit the <a href="/">so I can set it</a>
            {{end}}
         </p>
     </div>
    </div>
 </div>
{{end}}