{{template "base" .}}


{{define "content"}}
<div class="container mt-2">
    <div class="row">
     <div class="col">
         <h2>Home page</h2>
         <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Adipisci ad similique cum asperiores, amet omnis facilis! Omnis dolore modi recusandae eos porro, asperiores unde adipisci fugiat.</p>
     </div>
    </div>
 </div>
{{end}}